<br/><br/><h2>Manufacturers</h2><br/><br/>
<% @manufacturers.each do |manufacturer| %>
<ul class="list-group">
  <li class="list-group-item "><%= link_to manufacturer.name, manufacturer %></li>

</ul>
<% end %>