<h1 style="color:blue;">All the Car Manufactured by <%= @manufacturer%></h1>
<div class="row">
 <% @cars.each do |car| %>
 <%= render :partial => './cars/car', locals: { car: car } %>
  <% end %>
</div>